# .envrc for QueryHelper project

# Prefer pyenv over the python3 layout
#   Requires use_python() to be defined in ~/.direnvrc
#   see: https://github.com/direnv/direnv/wiki/Python#-pyenv
if has pyenv; then
  export PATH="$HOME/.pyenv/bin:$PATH"
  eval "$(pyenv init -)"
  eval "$(pyenv virtualenv-init -)"
  eval "$(pyenv virtualenv 3.8.13 env_aa)"
  eval "$(pyenv local env_aa)"
else
  layout python3
fi